{% extends 'base.html' %}
{% load static %}
{% block headers %}
<style>
    .skill-inner h1 span {
        font-size: 100px !important;
        color: #fff;
    }
    .skill-inner img {
        width: 60px !important;
        color: #fff;
    }
</style>
{% endblock %}


{% block content %}

<div id="index">
    <div class="left-sidebar">
        <div class="sidebar-header d-flex align-items-center justify-content-between">
            <img height="100px" :src="portfolioItem.logo" alt="Logo">
            <span class="designation">Crafting Code &amp; Developer</span>
        </div>
        <img class="me":src="portfolioItem.pic" alt="Me">
        <h2 class="email">[[ portfolioItem.email ]]</h2>
        <h2 class="address">[[ portfolioItem.location ]]</h2>
        <p class="copyright">© 2023 Beck. All Rights Reserved</p>
        <ul class="social-profile d-flex align-items-center flex-wrap justify-content-center">
            <li v-for="social in socialList" :key="social.id">
                <a :href="social.link" target="_blank"><i :class="social.icon"></i></a>
            </li>
        </ul>
        <a href="#" class="theme-btn">
            <i class="las la-envelope"></i> Hire Me!
        </a>
    </div>
    <main class="drake-main">
        <div id="smooth-wrapper">
            <div id="smooth-content">
    
                <div class="left-sidebar">
                    <div class="sidebar-header d-flex align-items-center justify-content-between">
                        <img  height="100px"  :src="portfolioItem.logo" alt="Logo">
                        <span class="designation">Crafting Code &amp; Developer</span>
                    </div>
                    <img class="me" :src="portfolioItem.pic" alt="Me">
                    <h2 class="email">[[ portfolioItem.email ]]</h2>
                    <h2 class="address">[[ portfolioItem.location ]]</h2>
                    <p class="copyright">© 2023 Beck. All Rights Reserved</p>
                    <ul class="social-profile d-flex align-items-center flex-wrap justify-content-center">
                        <li v-for="social in socialList" :key="social.id">
                            <a :href="social.link" target="_blank"><i :class="social.icon"></i></a>
                        </li>
                    </ul>
                    <a href="#" class="theme-btn">
                        <i class="las la-envelope"></i> Hire Me!
                    </a>
                </div>
    
                <section class="hero-section page-section scroll-to-page" id="home">
    
                    <div class="custom-container">
                        <div class="hero-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="las la-home"></i> Introduce
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom" v-html="portfolioItem.intro_text"></div>
                            <p class="scroll-animation" data-animation="fade_from_bottom">[[ portfolioItem.short_bio ]]</p>
                            <a href="#portfolio" class="go-to-project-btn scroll-to scroll-animation" data-animation="rotate_up">
                                <img src="{% static 'images/round-text.png' %}" alt="">
                                <i class="las la-arrow-down"></i>
                            </a>
        
                            <div class="facts d-flex">
                                <div class="left scroll-animation" data-animation="fade_from_left">
                                   
                                    <h1>[[ portfolioItem.years_of_experience ]]+</h1>
                                    <p>Years of <br>Experience</p>
                                </div>
                                <div class="right scroll-animation" data-animation="fade_from_right">
                                    <h1>[[ portfolioItem.completed_projects ]]+</h1>
                                    <p>projects completed on <br>[[ portfolioItem.completed_projects_by_country ]] countries</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        
                <section class="about-area page-section scroll-to-page" id="about">
                    <div class="custom-container">
                        <div class="about-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="lar la-user"></i> About
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom" v-html="portfolioItem.main_quote"></h1>
                            </div>
                            <p class="scroll-animation" data-animation="fade_from_bottom">[[ portfolioItem.bio ]]</p>
                        </div>
                    </div>
                </section>
        
        
                <section class="resume-area page-section scroll-to-page" id="resume">
                    <div class="custom-container">
                        <div class="resume-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="las la-briefcase"></i> Resume
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom">Education &amp; <span>Experience</span></h1>
                            </div>
        
                            <div class="resume-timeline">
                                <div v-for="education in educationList" class="item scroll-animation" data-animation="fade_from_right">
                                    <span class="date">[[ dateFormat( education.start_date ) ]] - [[ dateFormat( education.end_date ) ]]</span>
                                    <h2>[[ education.study ]]</h2>
                                    <p>[[ education.institution_name ]]</p>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </section>
        
        
                <section class="services-area page-section scroll-to-page" id="services">
                    <div class="custom-container">
                        <div class="services-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="las la-stream"></i> Services
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom">My <span>Specializations</span></h1>
                            </div>
        
                            <div class="services-items">
                                <div v-for="service in serviceList" :key="service.id" class="service-item scroll-animation" data-animation="fade_from_bottom">
                                    <i :class="service.icon"></i>
                                    <h2>[[ service.title ]]</h2>
                                    <p>[[ service.short_desc ]]</p>
                                    <span class="projects">[[ service.completed_projects ]] Projects</span>
                                </div>
                               
                            </div>
        
                        </div>
                    </div>
                </section>
        
                <section class="skills-area page-section scroll-to-page" id="skills">
                    <div class="custom-container">
                        <div class="skills-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="las la-shapes"></i> my skills
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom">My <span>Advantages</span></h1>
                            </div>
                            <div class="row skills text-center">
                                <div v-for="skill in skillsList" :key="skill.id" class="col-md-3 scroll-animation" data-animation="fade_from_left">
                                    <div class="skill">
                                        <div class="skill-inner">
                                            
                                            <h1 v-if="skill.icon != 'icon'" width="80px" font-size="100px"><span><i :class="skill.icon"></i></span></h1>
                                            <img v-else :src="skill.pic" class="img-fluid" width="80%" :alt="skill.name">
                                            <h1 class="percent">[[ skill.percentage ]]%</h1>
                                        </div>
                                        <p class="name">[[ skill.name ]]</p>
                                    </div>
                                </div>
                               
                            </div>
        
                        </div>
                    </div>
                </section>
        
        
                <section class="portfolio-area page-section scroll-to-page" id="portfolio">
                    <div class="custom-container">
                        <div class="portfolio-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="las la-grip-vertical"></i> portfolio
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom">Featured <span>Projects</span></h1>
                            </div>
        
                            <div class="row portfolio-items">
                                <div v-for="project in projectList" :key="project.id" class="col-md-12 scroll-animation" data-animation="fade_from_bottom">
                                    <div class="portfolio-item portfolio-full">
                                        <div class="portfolio-item-inner">
                                            <a :href="project.pic" data-lightbox="example-1">
                                                <img :src="project.pic" alt="Portfolio">
                                            </a>
                                           
                                            <ul class="portfolio-categories"> 
                                                <li v-for="tag in tagsArray( project.tag )" :key="tag">
                                                    <a href="">[[ tag ]]</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2><a target="_blank" :href="project.link">[[ project.title ]]</a></h2>
                                    </div>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                </section>
        
        
                <section class="testimonial-area page-section scroll-to-page" id="testimonial">
                    <div class="custom-container">
                        <div class="testimonial-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="lar la-comment"></i> testimonial
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom">Trusted by <span> Clients</span></h1>
                            </div>
        
                            <div class="testimonial-slider-wrap scroll-animation" data-animation="fade_from_bottom">
                                
                                <div class="owl-carousel testimonial-slider owl-theme">
                                    <div v-for="testimonial in testimonialList" :key="testimonial.id" class="testimonial-item">
                                        
                                        <div class="testimonial-item-inner">
                                            <div class="author d-flex align-items-center">
                                                <img :src="testimonial.client_pic" alt="testimonial.company_name">
                                                <div class="right">
                                                    <h3>[[ testimonial.client ]]</h3>
                                                    <p class="designation">[[ testimonial.client_role ]] of <span>[[ testimonial.company_name ]]</span></p>
                                                </div>
                                            </div>
                                            <p>“[[ testimonial.text ]]”</p>
                                            <a href="" class="project-btn">[[ testimonial.company_name ]]</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-footer-nav">
                                    <div class="testimonial-nav d-flex align-items-center">
                                        <button class="prev"><i class="las la-angle-left"></i></button>
                                        <div id="testimonial-slide-count"></div>
                                        <button class="next"><i class="las la-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
    
    
                <section class="contact-area page-section scroll-content" id="contact">
                    <div class="custom-container">
                        <div class="contact-content content-width">
                            <div class="section-header">
                                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                                    <i class="las la-dollar-sign"></i> contact
                                </h4>
                                <h1 class="scroll-animation" data-animation="fade_from_bottom">Let's Work <span>Together!</span></h1>
                            </div>
                            <h3 class="scroll-animation" data-animation="fade_from_bottom">[[ portfolioItem.email ]]</h3>
                            <p id="required-msg">* Marked fields are required to fill.</p>
    
                            <form @submit.prevent="submitForm" class="contact-form scroll-animation" data-animation="fade_from_bottom" method="POST">
                                <div ref="errorMessage" :class="messageClass" class="alert messenger-box-contact__msg" :style="{ display: isBlock ? 'block' : 'none' }" role="alert">
                                    [[ message ]]
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="full-name">full Name <sup>*</sup></label>
                                            <input type="text" name="full-name" id="full-name" v-model="formData.full_name" placeholder="Your Full Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="email">Email <sup>*</sup></label>
                                            <input type="email" name="email" id="email" v-model="formData.email" placeholder="Your email adress">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="phone-number">phone <span>(optional)</span></label>
                                            <input type="text" name="phone-number" id="phone-number" v-model="formData.phone" placeholder="Your number phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="subject">Subject <sup>*</sup></label>
                                            <input type="text" name="subject" id="subject" v-model="formData.subject" placeholder="Your Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label for="budget">your budget <span>(optional)</span></label>
                                            <input type="number" name="budget" id="budget" v-model="formData.budget" placeholder="A range budget for your project">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label for="message">message <sup>*</sup></label>
                                            <textarea name="message" id="message" v-model="formData.text" placeholder="Wrire your message here ..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group submit-btn-wrap">
                                            <button class="theme-btn" name="submit" type="submit" id="submit-form">send message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
    
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
{% endblock content %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/owl.carousel@2"></script>
<script src="{% static 'js/portfolio/index.js' %}"> </script>
{% endblock scripts %}